*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #003d66;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}